In [6]:
list(permutations(["x","y"]))

[('x', 'y'), ('y', 'x')]

In [45]:
def f(n, lst, string=""):
    if n <= 0:
        return

    for i in '01':
        temp = string + i
        if len(temp) == 5:
            lst.append(temp)
        f(n-1, lst, string + i)
        
def permutations(n):
    lst = []
    f(n, lst)
    return lst


x, y, n = 10, 100, 3

In [46]:
arr = permutations(5)
print(len(arr))
arr

32

['00000',
 '00001',
 '00010',
 '00011',
 '00100',
 '00101',
 '00110',
 '00111',
 '01000',
 '01001',
 '01010',
 '01011',
 '01100',
 '01101',
 '01110',
 '01111',
 '10000',
 '10001',
 '10010',
 '10011',
 '10100',
 '10101',
 '10110',
 '10111',
 '11000',
 '11001',
 '11010',
 '11011',
 '11100',
 '11101',
 '11110',
 '11111']

In [34]:
from math import factorial

In [37]:
factorial(5)

120

In [27]:
new_list = []
for i in lst:
    new_list.append(int(i, 2))
    
new_list

[0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 3,
 1,
 2,
 4,
 5,
 3,
 6,
 7,
 1,
 2,
 4,
 8,
 9,
 5,
 10,
 11,
 3,
 6,
 12,
 13,
 7,
 14,
 15,
 1,
 2,
 4,
 8,
 16,
 17,
 9,
 18,
 19,
 5,
 10,
 20,
 21,
 11,
 22,
 23,
 3,
 6,
 12,
 24,
 25,
 13,
 26,
 27,
 7,
 14,
 28,
 29,
 15,
 30,
 31]

In [47]:
from itertools import combinations_with_replacement

In [55]:
lst = list(combinations_with_replacement((0,1), 3))
lst

[(0, 0, 0), (0, 0, 1), (0, 1, 1), (1, 1, 1)]

In [56]:
for lst in combinations_with_replacement((0,1), 3):
    totalArr = []
    total = 0
    for i in lst:
        total += x if i == 0 else y
    totalArr.append(total)

30
120
210
300

In [57]:
x, y, n = [int(i) for i in input().split()]

1 2 3

In [58]:
x, y, n

(1, 2, 3)

In [59]:
print()
print()
print(5)

5

In [61]:
a,b,c = (i+5 for i in range(3))

In [62]:
a

5

In [64]:
print(*sorted(set([4,3,2,2,2,2,4,5,6,7,7,7,5,4,5,5,5])))

2 3 4 5 6 7